<div class="card">
  <h5 class="card-header"><%= comment.user.email %>  hace <%=calculateTime(comment.created_at)%></h5>
  <div class="card-body">
    <p class="card-text"><%= markdown(comment.body) %></p>
  </div>
</div>
<br>
