<div class="container">
  <div class="row">
    <div class="col-sm-10 col-sm-offset-1">
      <div class="text-right">
        <%= link_to "Publicar Post", new_post_path, remote: true, class: "btn btn-primary" %>
      </div>
      <% @posts.each do |post| %>
        <br>
        <div class="card">
          <h3 class="card-header"><%= link_to post.title, post%></h3>

          <div class="card-body">
            <p class="card-text"><%= post.description[0, 250] %></p>
          </div>
          <div class="card-footer text-muted">
            publicado por ...
          </div>
        </div>
        <br>
      <% end %>
    </div>
  </div>
</div>
